* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(194, 194, 194, 1);
}
nav {
  display: flex;
  justify-content: space-between;

  /* background-color: rgba(211, 211, 211, 1); */
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;

  padding: 20px;
}
header {
  padding-top: 20px;
}
.hero-container {
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: center;

  width: 71%;
  max-width: 1140px;
  padding: 80px 100px;
  margin: 0 auto;
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
}
.hero-content h4 {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 30px;
}
.hero-content p {
  font-size: 56px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 60px;
}
.my-btn {
  padding: 10px 20px;
  font-size: 16px;

  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  cursor: pointer;
}
.btn {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  background: rgba(0, 106, 80, 1);
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 20px;
  cursor: pointer;
}
.section-heading h2 {
  color: rgba(14, 14, 14, 1);
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  padding: 40px 100px 15px;
}
.card-box {
  display: flex;
  gap: 30px;
  justify-content: center;

  margin: 0 auto;
  /* width: 71%;
  max-width: 1140px; */
  padding: 0 100px;
  margin-top: 5px;
}
.card {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  margin-top: 10px;
}
.card img {
  width: 80px;
  margin-bottom: 20px;
}
.card h4 {
  color: rgba(14, 14, 14, 0.8);
  font-style: Bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.card p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  padding: 0 100px;
}
.btn2 {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}
.about {
  padding: 30px 100px 60px;
}
.content {
  padding: 0 100px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  margin-top: 10px;
}
.content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}
.content h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 12px;
}
/* .opinion-box {
  padding: 20px 160px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 71%;
  max-width: 1140px;
} */
.opinion-box {
  display: flex;
  gap: 700px;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  background: rgba(198, 228, 214, 1);
}
.opinion-container {
  padding: 0 100px;
}
.opinion-box2 {
  display: flex;
  gap: 700px;
  justify-content: space-between;
  /* margin-top: 10px; */
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 8px;
  /* background: rgba(198, 228, 214, 1); */
}
.opinion-box2 p {
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  color: rgba(14, 14, 14, 1);
}
.btn3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  color: rgba(14, 14, 14, 1);
  border: none;
  padding: 5px;
  border: 1px solid rgba(14, 14, 14, 1);
  border-radius: 4px;
  background: rgba(198, 228, 214, 1);
  cursor: pointer;
}
.news-container {
  display: flex;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  justify-content: space-between;
  gap: 30px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 30px 20px;
}
#news-section {
  width: 100%;
  max-width: 1140px;
  margin: 20px auto;
  /* padding: 0 10px; */
}
.news-content h3 {
  font-style: Bold;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: rgba(14, 14, 14, 0.8);
}
.news-content img {
  padding: 12px 0 12px;
}
.news-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.news-img img {
  border: 1px solid rgba(14, 14, 14, 1);
  border-radius: 10px;
}
.donate {
  padding: 80px 100px;
}
.heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: rgba(14, 14, 14, 1);
  margin-top: 20px;
  text-align: center;
}
.info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 30px;
  text-align: center;
}
.donate-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.donate-box {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  width: 30%;
}
.donate-box h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 10px;
  text-align: center;
}
.donate-form input {
  width: 1032px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 12px 20px;
}
.donate-form {
  margin: 20px auto;
  padding: 0 80px;
}
.donate-form input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.5);
  text-align: center;
}
.footer-form {
  display: flex;

  justify-content: center;
  margin-top: 20px;
}
.footer-form input {
  width: 800px;
  background: rgba(255, 255, 255, 1);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-right: none;
}
.footer-form input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.5);
  text-align: center;
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.btn4 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);

  padding: 25px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

  margin: 0 auto;
  display: block;
  cursor: pointer;
}
