* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}
.color-orange {
  color: #fd6e0a;
}

.btn {
  background-color: #fd6e0a;
  color: black;
  padding: 18px 35px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 51px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
header {
  background-color: #fff8f3;
  padding-top: 51px;
  background:url('images/developer.png'),url('images/header_bg.png'),#fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px,bottom right;
}
nav {
  display: flex;
  justify-content: space-between;

  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}

#banner {
  margin: 47px 38px 0 230px;
  /* border: 1px solid red;  */
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: center;
}

.banner-content {
  max-width: 585px;
}
.banner-content h2 {
  font-size: 36px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-content h1 {
  font-size: 85px;
  font-weight: 900;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 20px;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.banner-img img {
  max-width: 585px;
  vertical-align: middle;
 background:url('images/banner_decor.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
.banner-img{
    background:url('images/banner_decor.png');
}


.about-container {
  margin: 0 auto;
  width: 71%;
  max-width: 1140px;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.section-heading {
 max- width: 827px;

}
.section-heading h2 {
  font-size: 36px;
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
.section-heading p {
  font-size: 20px;
  color: #7a7a7a;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: center;
}

.about-info{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: space-around;
}
.info-card p{
font-size: 15px;
  color: #7a7a7a;
    margin-bottom: 20px;
    line-height: 30px;
}
.info-card h4{
    font-size:20px;
}
#skills ,#reusme,#about {
    padding-top: 130px;
   
}

.skill-container {
  margin: 0 auto;
  width: 71%;
  max-width: 1140px;
}
.skill-box{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    /* margin-bottom: 50px; */
    margin: 0 auto;
}
.skill-card{
    padding:30px;
    /* text-align: center; */
    border:1px solid #e0e0e0;
    box-shadow:0 6px 20px gray;

}
.skill-card img{
    margin-bottom: 20px;
    width: 60px;
}
.skill-card h3{
    font-size:24px;
    margin-bottom: 10px;
    max-width:267px;
    font-weight:600;
    
}
.skill-card p{
    font-size: 15px;
  color: #7a7a7a;
    margin-bottom: 20px;
    line-height: 30px;
}
.resume-container{
    display: flex;
    gap:25px;
    margin: 113px auto 0;
    width: 71%;
    max-width: 1140px;
}
.resume-title{
    font-size:36px;
    font-weight:600;
    margin-bottom:30px;
    text-align: center;
    
}
.resume-card{
   
    padding-left:20px;
    margin-right:30px;
}
.card-title{
    font-size:20px;
    font-weight:600;
    margin-bottom:10px;
}
.card-info{
    font-size:15px;
  color: #7a7a7a;
    margin-bottom:20px;
    line-height:30px;
    font-weight:600;
}
.card-text{
    font-size:15px;
  color: #7a7a7a;
    margin-bottom:20px;
    line-height:30px;
}
.resume-container hr{
    margin:20px 0;
}
.text-center{
    text-align: center;
    margin-top: 50px;
}
footer{
    background-color: #fff8f3;
    padding:130px 0;
    margin-top: 130px;
}
#footer-container{
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
    display: flex;
}
.social h3{
    font-size:24px;
    font-weight:600;
    margin-bottom:20px;
}
.social p{
    font-size:15px;
  color: #7a7a7a;
    margin-right:30px;
    line-height:30px;
}
.icons{
    display: flex;
    gap:20px;
    margin-top:20px;
}
.form h2{
    font-size:24px;
    font-weight:600;
    margin-bottom:20px;

}

.form input[type="text"], .form  textarea{
    width:431px;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #e0e0e0;
    border-radius:5px;
}


